.files{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}
.file-container{
    width: 100px;
    margin: 10px;
    display: block;
}
.file{
    transition: 0.2s ease;
}
.file:hover{
    background: #f0f3f6;

}
.file-icon     {
    width: 100%;
    padding: 10px;
}
.file-sub-icon{
    width: 25px;
    top: 0px;
    right: 0px;
    position: absolute;
}
.file-name{
    font-size: 10pt;
    padding: 10px;
}
.file-dropdown{
        /*top: -100px !important;
        left: 50px !important;*/
        box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
}

.dropdown-menu .dropdown-item, .dropdown-menu .dropdown-item:hover  {
    text-decoration: none;
}

.logo i.fa {
    font-size: 20pt;
    line-height: normal;
    display: block;
}

.green{
    color:  #4bcf99;
}
.red{
    color: #FF4444;;
}
.orange{
  color: #FE7A0E;
}
.yellow{
  color: #f1c40f;
}
.blue{
  color: #52BCD3;
}
.grey{
    color:#4f5f6f !important;
}
.btn{
    text-transform: uppercase;
}

.card-title{
    font-weight: 600;
    font-size: 16pt;
    display: inline-flex;
    margin-bottom: 0;
}

.sidebar{
    position: fixed;
}

#StudentTable, table.dataTable {
    border-collapse: collapse !important;

}
.cke_contents{
    height: 350px !important;
}

.post{
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    font-size: 16pt;
}

.post img{
    width: 100% !important;
    height: auto !important;
    border: 2px solid grey;
    vertical-align: baseline;
}
.post small img{
    width: unset !important;
}

.post-container{
    margin: 0px auto;
    max-width: 1000px;
    margin-bottom: 50px;
}

.student_avatar{
    width: 100%;
    border-radius: 12px;
    max-width: 200px !important;
    margin: 0px 20px 20px 20px;
}

.app{
    background-color: #e4e9ef;
}

.header{
    background-color: #c6ced8;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto{
    padding: 10px;
}

.theme-item{
    width: 50px;
    height: 50px;
}
#legend {
        margin: 0px auto;
        text-align: center;
       height: 50px;
       font-size: 11pt;
       font-weight: 600;
}
#legend span {
   display: inline-block;
   padding: 10px 20px;
   position: relative;
}

table{
    display: inline-table !important;
}

@media (max-width: 767px){
.auth-container {
    width: 450px;
    position: absolute;
    left: 15%;
    top: 15%;
}
}

.item_image{
    height: 200px;
    width: auto;
    border: 2px solid grey;
}
#profile-wall{
    height: 550px;
    overflow:auto;
}

@media (min-width: 1367px) {
    #profile-wall{
        height: 875px;
        overflow:auto;
    }
}

.display_hidden{
    display: none;
}

@media (min-width: 1600px){
    .breadcrumb{
         background: none !important;
        position: absolute;
        top: 11px;
        z-index: 10;
    }
}


.sidebar-search{
    background: none;
    border: none;
    float: right;
    color: #fff !important;
    margin-left: 3px;
    width: 88%;
}

.sidebar-search-container{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 15px;
    color: rgba(255, 255, 255, 0.5);
    background: #5b6772;
}
